<a href="https://colab.research.google.com/github/SharvariCodes/Accenture-Virtual-Internship/blob/main/Accenture_SocialBuzz_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
content = pd.read_csv('Content.csv')
reaction_types = pd.read_csv('ReactionTypes.csv')
reaction = pd.read_csv('Reactions.csv')

In [ ]:
content.shape

(1000, 6)

In [ ]:
content.isna().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [ ]:
reaction_types.isna().sum()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [ ]:
reaction.isna().sum()

Unnamed: 0       0
Content ID       1
User ID       2507
Type           820
Datetime         1
dtype: int64

In [ ]:
content = content.dropna(axis=0)

In [ ]:
reaction = reaction.dropna(axis=0)

In [ ]:
content.isna().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Category      0
URL           0
dtype: int64

In [ ]:
reaction.isna().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Datetime      0
dtype: int64

In [ ]:
content.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')

In [ ]:
content['URL']

0      https://socialbuzz.cdn.com/content/storage/975...
1      https://socialbuzz.cdn.com/content/storage/9f7...
2      https://socialbuzz.cdn.com/content/storage/230...
3      https://socialbuzz.cdn.com/content/storage/356...
4      https://socialbuzz.cdn.com/content/storage/01a...
                             ...
994    https://socialbuzz.cdn.com/content/storage/c54...
996    https://socialbuzz.cdn.com/content/storage/7a7...
997    https://socialbuzz.cdn.com/content/storage/435...
998    https://socialbuzz.cdn.com/content/storage/4e4...
999    https://socialbuzz.cdn.com/content/storage/75d...
Name: URL, Length: 801, dtype: object

In [ ]:
content = content.drop(['URL'], axis=1)

In [ ]:
content = content.drop(['Unnamed: 0'], axis=1)

In [ ]:
content = content.drop(['User ID'], axis=1)

In [ ]:
reaction_types.columns

Index(['Unnamed: 0', 'Type', 'Sentiment', 'Score'], dtype='object')

In [ ]:
reaction_types = reaction_types.drop(['Unnamed: 0'], axis=1)

In [ ]:
reaction.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Datetime'], dtype='object')

In [ ]:
reaction = reaction.drop(['Unnamed: 0'], axis=1)

In [ ]:
reaction = reaction.drop(['User ID'], axis=1)

In [ ]:
for i in content['Category']:
    if '"' in i:
        print(i)

In [ ]:
reaction.columns

Index(['Content ID', 'Type', 'Datetime'], dtype='object')

In [ ]:
reaction_types.columns

Index(['Type', 'Sentiment', 'Score'], dtype='object')

In [ ]:
content.columns

Index(['Content ID', 'Type', 'Category'], dtype='object')

In [ ]:
content = content.rename(columns={'Type':'Content Type'})

In [ ]:
reaction = reaction.rename(columns={'Type':'Reaction Type'})

In [ ]:
reaction_types = reaction_types.rename(columns={'Type':'Reaction Type'})

In [ ]:
dataset = content.merge(reaction, how='inner', left_on='Content ID', right_on='Content ID')

In [ ]:
dataset

,Content ID,Content Type,Category,Reaction Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,11/7/2020 9:43
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,6/17/2021 12:22
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,scared,4/18/2021 5:13
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,1/6/2021 19:13
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,interested,8/23/2020 12:25
...,...,...,...,...,...
15247,09f2e925-5086-42ad-8160-e763396a36ca,audio,dogs,super love,8/18/2020 0:56
15248,09f2e925-5086-42ad-8160-e763396a36ca,audio,dogs,cherish,2/6/2021 4:44
15249,09f2e925-5086-42ad-8160-e763396a36ca,audio,dogs,intrigued,5/23/2021 2:24
15250,09f2e925-5086-42ad-8160-e763396a36ca,audio,dogs,adore,9/7/2020 11:06
15251,09f2e925-5086-42ad-8160-e763396a36ca,audio,dogs,hate,12/9/2020 8:47

In [ ]:
dataset = dataset.merge(reaction_types, how='inner', left_on='Reaction Type', right_on='Reaction Type')

In [ ]:
dataset

,Content ID,Content Type,Category,Reaction Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,11/7/2020 9:43,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,1/6/2021 19:13,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,4/9/2021 2:46,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,disgust,3/28/2021 21:15,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,disgust,8/4/2020 5:40,negative,0
...,...,...,...,...,...,...,...
15247,c75dfa33-cd71-486f-b4e1-f5e9133ae873,photo,veganism,adore,1/12/2021 23:45,positive,72
15248,c75dfa33-cd71-486f-b4e1-f5e9133ae873,photo,veganism,adore,7/15/2020 9:49,positive,72
15249,40727608-362e-4e10-970f-2b5a5f8c37c1,photo,science,adore,12/15/2020 17:11,positive,72
15250,09f2e925-5086-42ad-8160-e763396a36ca,audio,dogs,adore,9/5/2020 5:03,positive,72
15251,09f2e925-5086-42ad-8160-e763396a36ca,audio,dogs,adore,9/7/2020 11:06,positive,72

In [ ]:
content['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'dogs',
       'soccer', 'public speaking', 'tennis', 'travel', 'education',
       'studying', 'science', 'veganism', 'cooking', 'animals', 'fitness',
       'culture'], dtype=object)

In [ ]:
grouping = dataset.groupby(['Category'])

In [ ]:
dataset_new = grouping.sum()

<ipython-input-37-733561fd02ad>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset_new = grouping.sum()

In [ ]:
sorted_grouping = dataset_new.sort_values(by='Score', ascending=False)

In [ ]:
sorted_grouping

                 Score
Category
travel           44555
cooking          43331
healthy eating   42292
science          42184
education        41634
technology       40322
animals          39529
culture          38232
food             37825
tennis           37552
dogs             37374
soccer           35416
fitness          34471
public speaking  32825
veganism         31945
studying         27718
Studying          1176

In [ ]:
top_5_categories = sorted_grouping.head(5)

In [ ]:
top_5_categories

                Score
Category
travel          44555
cooking         43331
healthy eating  42292
science         42184
education       41634

In [ ]:
travel_posts = dataset[dataset['Category'] == 'travel']

In [ ]:
cooking_posts = dataset[dataset['Category'] == 'cooking']

In [ ]:
healthy_eating_posts = dataset[dataset['Category'] == 'healthy eating']

In [ ]:
science_posts = dataset[dataset['Category'] == 'science']

In [ ]:
education_posts = dataset[dataset['Category'] == 'education']

In [ ]:
total_popular_category_posts = top_5_categories.shape[0]

In [ ]:
total_popular_category_posts

5

In [ ]:
travel_posts = travel_posts.shape[0]

In [ ]:
total_posts = dataset.shape[0]

In [ ]:
percent_travel = (travel_posts/ total_popular_category_posts)* 100
print(f'Travel makes {percent_travel} % of the total posts')

Travel makes 22800.0 % of the total posts

In [ ]:
content.to_csv('content.csv')
reaction_types.to_csv('reaction_types.csv')
reaction.to_csv('reaction.csv')

In [ ]:
dataset.to_csv('dataset.csv')
top_5_categories.to_csv('top_5_categories.csv')

In [ ]:
top_5_categories.to_csv('top_5_categories.csv')